body{
    font-family: 'Audiowide', cursive;
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.8);
    font-size: 22px;
}

.navbar {
    background-color: rgb(133, 131, 131);
    font-family: 'Audiowide', cursive;
    background: url(../img/bogdan-kupriets-1063419-unsplash.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-bottom: 34px;
}
.logo {
    height: 55px;
    width: 55px;
    color: white;
}

.avatar {
    border-radius: 50%;
}
.height{
    min-height: 100hv;
}

/* .bootstrap-header-img {
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-bottom: 34px;
    background-size: cover;
} */

/* ............................. */
/* Filler section */

.filler-img {
    background: url(../img/krystian-piatek-1195948-unsplash.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-bottom: 34px;
    background-size: cover;  
}


/* skills section background */
/* #skills { 
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.nav-shadow {
    box-shadow: 0px 8px 15px -2px rgba(138,10,18,1);
}
.header-shadow {
    box-shadow: 0px 8px 15px -2px rgba(138,10,18,1);
}
.strong-shadow, .company-title {
    text-shadow: 2.75px 2.75px 6px rgba(216, 216, 216, 0.767);
    font-family: 'Audiowide', cursive;
    color: rgba(187, 39, 39, 0.819);
}
.small-shadow {
    text-shadow: 2.4px 2.4px 5px rgba(226, 226, 226, 1);
    /* font-family: 'Audiowide', cursive; */
}
.underline-shadow {
    box-shadow: 0px 8px 8px -2px rgb(206, 16, 28);
}

/* Specific skills styles */
.css-shadow {
    box-shadow: 0px 8px 15px -2px rgba(138,10,18,1);
}
/* .city-team-background-img {
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* Using background fixed to give the paralax effect */
} */

.title-underline{
    width: 200px;
    height: 10px;
    margin: 0 auto;
    /* background: blue!important; */
}

.height-80 {
    min-height: 80hv;
}


/* Filler section */
.bg-img-filler {
    background: url(../img/amritanshu-sikdar-268167-unsplash.jpg);
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 135px;
}
/* #filler {
    box-shadow: 0px 0px 163px -40px rgba(229, 234, 236, 0.86);
    background-color: black;
} */

/* End Filler Section */




.about-picture {
    background: url(../img/about-bcg.jpeg);
    background-size: inherit;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* Using background fixed to give the paralax effect */
}

.height-95 {
    min-height: 95hv;
}

.image-gallery {
    box-shadow: 0px 0px 163px -40px rgba(229, 234, 236, 0.86);
}


/* #projects {
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.form-bg-img {
    background: url(../img/pexels-photo-814136.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 14px;
    background-size: cover;
    box-shadow: 5px 5px 2px -2px rgb(82, 114, 161);
}
/* #form, #pricing {
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.map-img-shadow {
    box-shadow: 5px 5px 2px -2px rgb(82, 114, 161);
}
.card-shadow {
    box-shadow: 5px 5px 2px -2px rgb(82, 114, 161);
}

#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: inherit;
}
/* text styling */
#pricing {
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.8);
}

/* Pricing Card Special Colors */
.card-1 {
    background-color: #cd7f32;
}

.card-2 {
    background-color: silver;
}

.card-3 {
    background-color: gold;
}


/* Button Effects */
.btn-fade {
    box-shadow: 0px 4px 15px -2px rgba(138,10,18,1);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1.0;
    transition: 0.3s;
  }
  
  .btn-fade:hover {
      opacity: 0.7;
      transition: 4.0s;
      background-color: rgba(138,10,18,1);
    }

    .proj-1:hover {
        opacity: 0.9;
        transition: 0.2s;
    }

    .proj-2:hover {
        opacity: 2.0;
        transition: 0.3s;
        color: gold;
    }


/* Footer */
/* .footer-section, #carousel-section {
    font-family: 'Audiowide', cursive;
    color: rgba(187, 39, 39, 0.819);
    font-size: 24px;
    background: url(https://images.unsplash.com/photo-1543778428-15f298cf2b8e?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
        /* Using background fixed to give the paralax effect */
} */


.main-footer-section, .footer-section { 
    font-family: 'Audiowide', cursive;
    color: rgba(204, 192, 192, 0.819);
    font-size: 24px;
}

.about-me {
    text-shadow: 1px 1px 4px rgba(20, 20, 20, 0.8);
    font-size: 24px;
}


/* #projects {
    background: url(../img/david-jorre-712468-unsplash.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 14px;
    background-size: cover;
} */




/* .card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} */





/* .span-image {
    position: relative; 
    background-position: center;
} */
/* .jumbotron {
    color: red;
    background-color: darkgray;
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
} */


div {
    text-align: center;
    
}
